@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Mensagem para todos</h1>
    </div>
</div>
@using (Html.BeginForm("UpdateAll", "Home", FormMethod.Post))
{
<div class="row" id="divFrmLogin">
    <div class="col-md-12">
        <div class="form-group">
            <label for="txtMessage">Menssagem:</label>
            <input type="text" class="form-control" id="txtMessage" name="txtMessage">
        </div>
    </div>
</div>
<div class="row" id="divBtnLogin">
    <div class="col-md-12">
        <button type="submit" class="btn btn-default">Entrar</button>
    </div>
</div>
}